
DATABASE_URL="postgresql://postgres:12345678@localhost:5432/log-normalizer"
API_KEY="SECRET"

# SLM Service Configurations
SLM_API="http://localhost:8000"

# SQS configurations
SQS_QUEUE_URL=""
AWS_REGION=""