
PORT=3000
DATABASE_URL="postgresql://postgres:12345678@localhost:5432/log-normalizer"
API_KEY="SECRET"

# SLM Service Configurations
SLM_API="http://localhost:8000"

# SQS configurations
SQS_QUEUE_URL=""
AWS_REGION=""

# Jobs configurations
PENDING_BATCH_SIZE=10
SQS_BATCH_SIZE=10

# Circuit Breaker Configurations
TIMEOUT=15000
ERROR_THRESHOLD_PERCENTAGE=50
RESET_TIMEOUT=60000
VOLUME_THRESHOLD=5